<%- include('partials/home-header.ejs') %>

<head>
    <style>
        #footer {
            background-color: #ff4c68;
            margin-top: 3em;
        }

        footer a {
            color: white;
        }

        footer p {
            color: white;

        }

        h1 {
            background: -webkit-linear-gradient(120grad, #ff4c68, #ef8172);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .navbar {
            padding: 0;
        }

        .ht {
            visibility: hidden;
        }

        .dog-call {
            margin-top: 50em;
        }

        .dog-call:hover {
            cursor: pointer;
        }

        .underline {
            text-decoration: underline;
        }
    </style>
</head>

</div>
</section>

<div class="px-4 pt-2 my-5 text-center border-bottom image">
    <h1 class="display-4 fw-bold find image">Find the Dog Call Center!</h1>

    <div class="ht">
        <h1 class="display-4 fw-bold ht">Contact Us!</h1>



        <div class="col-lg-6 mx-auto ">
            <p class="lead mb-3 text ht">Welcome to our walk-up window.
                We’re open and eager to hear from you.
                Use the email address below to send all your questions, suggestions, feedback, ideas, or partnership
                requests. Expect a reply within 48 hours.</p>
            <u>
                <pre class="text-muted ht fs-5">johnoliversantiago5@gmail.com</pre></u>
            <a href="https://www.gmail.com" target="_blank">
                <button class="btn btn-lg btn-outline-dark text ms-3 ht" type="button">
                    <i class="fa-fade fa-solid fa-envelope fa-1x me-2 ht"></i> Send us an Email!
                </button>
            </a>
        </div>
    </div>
    <div class="overflow-hidden dog-call" style="max-height: 45vh;">
        <div class="container px-5 ">
            <img src="https://live.staticflickr.com/8641/28275118051_6311d93df1_b.jpg"
                class="img-fluid border rounded-3 shadow-lg mb-4" alt="dog call center" width="700" height="500"
                loading="lazy">
        </div>
    </div>
</div>





<%- include('partials/home-footer.ejs') %>